footer.site-footer(role='contentinfo')
  .container
    .row.mb-5
      .col-md-4.mb-5
        h3 About Us
        p.mb-5
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus et dolor blanditiis consequuntur ex voluptates perspiciatis omnis unde minima expedita.
        ul.list-unstyled.footer-link.d-flex.footer-social
          li
            a.p-2(href='#')
              span.fa.fa-twitter
          li
            a.p-2(href='#')
              span.fa.fa-facebook
          li
            a.p-2(href='#')
              span.fa.fa-linkedin
          li
            a.p-2(href='#')
              span.fa.fa-instagram
      .col-md-5.mb-5
        .mb-5
          h3 Opening Hours
          p
            strong.d-block Sunday-Thursday
            |  5AM - 10PM
        div
          h3 Contact Info
          ul.list-unstyled.footer-link
            li.d-block
              span.d-block Address:
              span.text-white 34 Street Name, City Name Here, United States
            li.d-block
              span.d-block Telephone:
              span.text-white +1 242 4942 290
            li.d-block
              span.d-block Email:
              span.text-white info@yourdomain.com
      .col-md-3.mb-5
        h3 Quick Links
        ul.list-unstyled.footer-link
          li
            a(href='#') About
          li
            a(href='#') Terms of Use
          li
            a(href='#') Disclaimers
          li
            a(href='#') Contact
      .col-md-3
    .row
      .col-12.text-md-center.text-left
        p
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          | Copyright ©
          script.
            document.write(new Date().getFullYear());
          |  All rights reserved | This template is made with 
          i.fa.fa-heart(aria-hidden='true')
          |  by 
          a(href='https://colorlib.com', target='_blank') Colorlib
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
