extends layout

block content

  section.home-slider-loop-false.inner-page.owl-carousel
    .slider-item(style="background-image: url('img/hero_2.jpg');")
      .container
        .row.slider-text.align-items-center.justify-content-center
          .col-md-8.text-center.col-sm-12.element-animate
            h1 About Us

  section.section.element-animate
    .section.container.pb-0
      .row
        .col-lg-6
          p
            img.img-fluid(src='img/hero_2.jpg', alt='')
          p.mb-5
            img.img-fluid(src='img/hero_1.jpg', alt='')
        .col-lg-6.pl-2.pl-lg-5
          h2.mb-5 History
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius est soluta blanditiis velit doloremque corrupti aliquid ducimus consectetur ea nobis dolorem, id quibusdam praesentium consequuntur modi eligendi, sunt suscipit ullam iure nesciunt tempore. Itaque placeat, libero aliquam odio ex voluptas.
          p
            | Vel vitae, assumenda blanditiis nemo in vero reprehenderit asperiores distinctio exercitationem aliquid, quam velit explicabo neque. Sapiente provident sequi omnis itaque eaque voluptatum vel. Accusamus deserunt atque eligendi mollitia voluptates eum libero, ratione id labore. Magnam porro dolorem aspernatur, dolor?
          p.mb-5
            | Vel vitae, assumenda blanditiis nemo in vero reprehenderit asperiores distinctio exercitationem aliquid, quam velit explicabo neque. Sapiente provident sequi omnis itaque eaque voluptatum vel. Accusamus deserunt atque eligendi mollitia voluptates eum libero, ratione id labore. Magnam porro dolorem aspernatur, dolor?

  section.section.element-animate
    .clearfix.mb-5.pb-5
      .container-fluid
        .row
          .col-md-12.text-center.heading-wrap
            h2 Chefs
            span.back-text Our Chefs
    .container
      .row
        .major-caousel.js-carousel-1.owl-carousel
          div
            .media.d-block.media-custom.text-center
              a(href='adoption-single.html')
                img.img-fluid(src='img/person_1.jpg', alt='Image Placeholder')
              .media-body
                h3.mt-0.text-black Mellisa Howard
                p.lead CEO, Co-Founder
          div
            .media.d-block.media-custom.text-center
              a(href='adoption-single.html')
                img.img-fluid(src='img/person_2.jpg', alt='Image Placeholder')
              .media-body
                h3.mt-0.text-black Mike Richardson
                p.lead CEO, Co-Founder
          div
            .media.d-block.media-custom.text-center
              a(href='adoption-single.html')
                img.img-fluid(src='img/person_3.jpg', alt='Image Placeholder')
              .media-body
                h3.mt-0.text-black Charles White
                p.lead CEO, Co-Founder
          div
            .media.d-block.media-custom.text-center
              a(href='adoption-single.html')
                img.img-fluid(src='img/person_1.jpg', alt='Image Placeholder')
              .media-body
                h3.mt-0.text-black Mellisa Howard
                p.lead CEO, Co-Founder
          div
            .media.d-block.media-custom.text-center
              a(href='adoption-single.html')
                img.img-fluid(src='img/person_2.jpg', alt='Image Placeholder')
              .media-body
                h3.mt-0.text-black Mike Richardson
                p.lead CEO, Co-Founder
          div
            .media.d-block.media-custom.text-center
              a(href='adoption-single.html')
                img.img-fluid(src='img/person_3.jpg', alt='Image Placeholder')
              .media-body
                h3.mt-0.text-black Charles White
                p.lead CEO, Co-Founder
